body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
}

table {
  color: #0082e9;
  margin-top: 15px;
  margin-left: 2px;
  margin-right: 3px;
  margin-bottom: 15px;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}
th {
  font-style: bold;
}
td {
  width: 50%;
  column-width: 50%;
}
button {
    background-color: #0082e9;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}
